<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shivambharadwaj.firstapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Weather Buster</name>
    <description>
        A Simple App which lets you search for weather in city by city name. Currently it reports Status such as Rainy Day, Cloudy, Clear or Foggy.
    </description>
    <author email="shivamb45@yahoo.in" href="http://shivambharadwaj.com/">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="weatherBus.png"/>
    <icon src="weatherBus.png" platform="android" qualifier="ldpi" />
    <icon src="weatherBus.png" platform="android" qualifier="mdpi" />
    <icon src="weatherBus.png" platform="android" qualifier="hdpi" />
    <icon src="weatherBus.png" platform="android" qualifier="xhdpi" />
    <icon src="weatherBus.png" platform="android" qualifier="xxhdpi" />
    <icon src="weatherBus.png" platform="android" qualifier="fr-xxhdpi" />

</widget>
